<h1>Pages You've Visited:</h1>

<div id="logVisited" class="list"></div>
<div id="logNotVisited" class="list"></div>

<iframe id="f" name="f" height="20" width="200" style="opacity: 0" src="about:blank"></iframe>
